<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE Motors</title>
    <link href="/css/styles.css" rel="stylesheet" media="screen">
</head>
  