<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/inventory">Inventory</a></li>
        <li><a href="/financing">Financing</a></li>
        <li><a href="/trade-in">Trade-In</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
  